

  <section class="homepageSections">

    <h1>Latest posts</h1>
    {{#each postings}}
    <span class="hiddenSpan" value="{{body}}"></span>


    <article class="articleArea">
      <h3>{{title}}</h3>
      <h4>posted by: <a href="articles/{{username}}">{{username}}</a>.</h4>
      <h5>Date posted: {{date}}</h5>
      <iframe class="iFrameArticles">


      </iframe>
    </article>
    {{/each}}

  </section>


<script type="text/javascript" src="/javascripts/articles.js"></script>

<!-- // #### articles
// | field    | datatype         |
// | :        | :                |
// | id       | int              |
// | user_id  | int (fk) - users |
// | title    | string           |
// | body     | string           |
// | date     | datetime         | -->
