<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>writeIt. Write your own stuff</title>

  <link rel="stylesheet" href="/stylesheets/font-awesome-4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/stylesheets/resets.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/style_mobile.css">
</head>
<body>

  <div id="container">

    <!-- HEADER SECTION -->
    <header>
      <!-- LOGO -->
      <div id="logoDiv">
        <a href="/">
          <span class="fa fa-pencil-square-o" aria-hidden="true">writeIt</span>

        </a>
      </div>

      <!-- USER INFO AREA -->
      <div id="headerUserAreaDiv">
        <table>
          <tbody>
            <tr>
              <td>
                User: {{user}}
              </td>
              <td>
                <a href="/articles/{{user}}"><button type="button" name="button" title="View a page with my posts only">My posts</button></a>
              </td>
              <td>
                <a href="/users/{{user}}"><button type="button" name="button" title="User settings">Settings</button></a>
              </td>
            </tr>

            <tr>
              <td>
                &nbsp;
              </td>
              <td>
                <a href="/newarticle" type="button" name="newArticleButton" id="newArticleButton" title="Post a new article">
                  <button type="button" name="button">
                  New post
                  </button>
                </a>
              </td>
              <td>
                <form id="logoutForm" class="" action="/logout" method="get">

                  <label for="logoutSubmit">
                    <button type="submit" name="logoutButton" id="logoutSubmit" title="Logout">Logout</button>
                  </label>
                </form>
              </td>
            </tr>

          </tbody>
        </table>

      </div>

      <!-- USER INFO AREA MOBILE-->
      <div id="headerUserAreaDivMobile">
        <nav>
          <div id="divUserLoginName">{{user}}</div>
           &nbsp;
           <div id="divHamburger">
             <a href="#"><i class="fa fa-bars" aria-hidden="true"></i></a>
           </div>
           <div id="divNavLinks">
             <ul>
               <li><a href="/articles/{{user}}" title="View a page with my posts only">My posts</a></li>
               <li><a href="/newarticle" name="newArticleButtonMobile" id="newArticleButtonMobile" title="Post a new article">New post</a></li>
               <li><a href="/users/{{user}}" title="User settings">Settings</a></li>
               <li>
                 <form id="logoutFormMobile" class="" action="/logout" method="get">
                   <label for="logoutSubmitMobile">
                     <button type="submit" name="logoutButton" id="logoutSubmitMobile" title="Logout">Logout</button>
                   </label>
                 </form>
               </li>
             </ul>
           </div>

        </nav>

      </div>
    </header>

    <!-- MAIN SECTION -->
    <main>
      <div id="maxWidthMain">

        {{{body}}}

      </div>


    </main>






    <!-- FOOTER SECTION -->
    <footer>
      January 2017 |
      <a href="#">Paraskevas Apostolopoulos</a>
    </footer>

  </div>

  <!-- JAVASCRIPT DOCUMENT LINK -->
  <script type="text/javascript" src="/javascripts/scripts.js">

  </script>
</body>
</html>
