<section class="homepageSections">
  <h1>My post</h1>

  {{#each postings}}
  <article class="articleArea">
    <h3>{{title}}</h3>
    <h4>posted by: {{username}}.</h4>
    <h5>Date posted: {{date}}</h5>
    <p>{{body}}</p>
    <div class="editButtons">
      <a href="/articles/{{username}}/{{id}}/edit"><button type="button" name="button" title="Edit this post">changeIt</button></a>
      <form class="singleSubmitButtonForm" action="/articles/{{username}}/{{id}}?_method=DELETE" method="post">
        <button type="submit" name="button" title="Delete this post">scrapIt</button>
      </form>
    </div>
  </article>
  {{/each}}
</section>
